@font-face {
  font-family: "iconfont"; /* Project id 4336251 */
  src: url('iconfont.woff2?t=1700292456198') format('woff2'),
       url('iconfont.woff?t=1700292456198') format('woff'),
       url('iconfont.ttf?t=1700292456198') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gantanhao:before {
  content: "\e8a5";
}

.icon-shibai:before {
  content: "\e8a9";
}

.icon-shuaxin:before {
  content: "\e8aa";
}

.icon-zhengque:before {
  content: "\e8ad";
}

